[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\e902";
}
.icon-fb:before {
	content: "\e90a";
}
.icon-vk:before {
	content: "\e90b";
}
.icon-ok:before {
	content: "\e904";
}
.icon-instagramm:before {
	content: "\e905";
}
.icon-google:before {
	content: "\e906";
}
.icon-livejournal:before {
	content: "\e907";
}
.icon-twitter:before {
	content: "\e908";
}
.icon-pinter:before {
	content: "\e909";
}
.icon-arrow-left:before {
	content: "\e900";
}
.icon-arrow-right:before {
	content: "\e901";
}
.icon-close:before {
	content: "\e903";
}

.icon-center:before {
	content: "\e90c";
}
.icon-zoom-out:before {
	content: "\e90d";
}
.icon-zoom-in:before {
	content: "\e90e";
}

