<footer class="footer">
    <div class="wrapper">
        <div class="footer--inside">
            <div class="footer--inside__left">
                <div class="support">
                    <div>При поддержке<br>
                        Министерства культуры<br>
                        Российской Федерации
                    </div>
                </div>
                <div class="partners">
                    <a class="partner1" href="" title=""><img src="/images/des/partner1.png" alt=""></a>
                    <a class="partner2" href="" title=""><img src="/images/des/partner2.png" alt=""></a>
                    <a class="partner3" href="" title=""><img src="/images/des/partner3.png" alt=""></a>
                </div>
            </div>
            <div class="footer--inside__right">
                <nav>
                    <ul>
                        <li><a class="link" href="" title="">Каталог</a></li>
                        <li><a class="link" href="" title="">Архив</a></li>
                        <li><a class="link" href="" title="">Наследие</a></li>
                        <li><a class="link" href="" title="">Новости</a></li>
                        <li><a class="link" href="" title="">О проекте</a></li>
                        <li><a class="link" href="" title="">Обратная связь</a></li>
                        <li><a class="link" href="" title="">Карта сайта</a></li>
                        <li><a class="link" href="" title="">Поиск</a></li>
                    </ul>
                </nav>
                <div class="disclaimer">
                    <div class="disclaimer__block">
                        <a class="link link--conditions" href="" title="">Условия использования материалов сайта</a>
                        <a class="link link--dev" href="" title="">Разработано</a>
                    </div>
                    <div class="disclaime__block">
                        <a class="link--culture" href="" title=""><img src="/images/des/culture_logo.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper--decoration">
        <div class="decoration"></div>
    </div>
</footer>
    