@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";

@import "partials/header";
@import "partials/footer";


@include fontFace('circle','/fonts/crc15', 200);
@include fontFace('circle','/fonts/crc25', 100);
@include fontFace('circle','/fonts/crc35', 300);
@include fontFace('circle','/fonts/crc55', 400);
@include fontFace('circle','/fonts/crc65', 500);
//@include fontFace('circle_extrabold','/fonts/crc75');
@include fontFace('TelingaterDisplayC','/fonts/telingaterdisplayc', 400);

@include fontFace('panton-a','/fonts/panton_icons_a_light', 400);
@include fontFace('panton-d','/fonts/panton_icons_d_fill_light', 400);

@include fontFace('fontawesome','/fonts/fontawesome', 400);

.fp-tableCell {
  display: block;
  overflow: hidden;
}
.wrapper {
  position: relative;
  max-width: 1490px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}
.wrapper--np {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
h2 {
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 28px;
  font-family: "TelingaterDisplayC", Arial;
  font-size: 24px;
  font-weight: normal;
  color: #fefefe;
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--intro {
  overflow: hidden;

}
.section--intro:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;

  height: 140%;
  background-image: url("/images/des/portrait.png");
  background-position: left top -35%;
  background-size: cover;
  left: 14.5%;
  transition: all 1s ease;
  z-index: -1;
}
.section--intro:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;

  background-image: url("/images/des/statues.jpg");
  background-position: left top 12.5%;
  background-size: 140%;
  z-index: -2;
}
.portrait-parallax:after {
  transform: translateY(-200px);
  transition: all 1s ease;
}
.section--intro__content {
  max-width: 645px;
  font-family: "TelingaterDisplayC", Arial;
  text-align: center;
  .logo {
    margin-top: 70px;
    text-align: center;
  }
  .title {
    text-align: center;
    h1 {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 70px;
      font-weight: normal;
      letter-spacing: 6px;
      color: #fff;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }
  }
  .quotation {
    position: relative;
    display: inline-block;
    width: 605px;
    font-size: 30px;
    color: #8fb7db;
    text-align: left;
    &:after {
      content: '«';
      display: block;
      position: absolute;
      top: -20px;
      left: -35px;
      font-size: 60px;
    }
    .decor {
      position: relative;
      display: inline-block;
      height: 10px;
      margin-left: 5px;
      font-size: 60px;
      line-height: 0;
      span {
        position: absolute;
        top: 0;
      }
    }
    .author {
      float: right;
      margin-top: 30px;
      margin-right: 118px;
    }
  }
  .menu {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
    .btn {
      //width: 290px;
    }
  }
  .support {
    margin-bottom: 50px;
  }
}
.footer--inside {
  .support {
    width: 200px;
  }
}
  .support {
    //margin-left: 20px;
    text-align: left;
    font-family: "circle";
    font-weight: 200;
    font-size: 16px;
    color: #fffefe;
    .text {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      margin-top: 35px;
    }
  }

.btn {
  display: inline-block;
  box-sizing: border-box;
  margin: 15px;
  width: 290px;
  font-family: "TelingaterDisplayC", Arial;
  font-size: 30px;
  color: #ffba6a;
  text-transform: uppercase;
  text-decoration: none;
  border: 30px solid pink;
  border-image: url("/images/des/btn_border.png") 30;
  text-align: center;
}


.section--content__about {
  background-color: #1b1c34;
  background-image: url("/images/des/hills.png");
  background-size: cover;
  font-family: "circle";
  font-weight: 300;
}
.section--content__about__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 280px;
  padding-bottom: 125px;
  .video {
    width: 68%;
  }
  .description {
    width: 29%;
    text-align: center;
    p {
      margin-top: 0;
      margin-bottom: 25px;
      text-align: left;
      color: #fff;
    }
    .special {
      font-size: 22px;
      p {
        text-align: center;
        color: #bad2ff;
      }
    }
    .btn {
      //width: 290px;
      margin-top: 25px;
    }
  }
}
.section--content__list {
  background-color: #11182f;
}
.section--content__list--wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-bottom: 30px;
}
.section--content__list__item {
  width: 32%;
  margin-bottom: 75px;
  .pic {
    position: relative;
    margin-bottom: 20px;
    img {
      display: block;
      width: 100%;
    }
    a {
      display: block;

      transition: all .3s;
      box-sizing: border-box;
    }
    a:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 0 solid transparent;
      border-image: linear-gradient(to right, rgba(236,170,139,0.8) 0%, rgba(255,186,106,0.8) 34%, rgba(28,54,133,0.8) 100%);
      opacity: 0;
      border-image-slice: 1;
      transition: all .3s;
    }
    a:hover:after {
      border: 22px solid transparent;
      box-sizing: border-box;
      border-image: linear-gradient(to right, rgba(236,170,139,0.8) 0%, rgba(255,186,106,0.8) 34%, rgba(28,54,133,0.8) 100%);
      opacity: 1;
      border-image-slice: 1;
      transition: all .3s;
    }

  }
  .date {
    margin-bottom: 15px;
    font-family: "circle";
    font-size: 16px;
    color: #bad2ff;
    font-weight: 300;
  }
  .title {
    a {
      font-family: "circle";
      font-weight: 400;
      font-size: 22px;
      color: #ffba6a;
      text-decoration: none;
    }
  }
  .text {
    font-family: "circle";
    font-size: 16px;
    color: #fffefe;
    font-weight: 300;
  }
}
.btn--news {
  //width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
}
.safari {
  .section--content__list__item {
    .pic {
      a:after {
        //border: 22px solid rgba(28, 54, 133, 0.8);
        border-image: none;
      }
      a:hover:after {
        border: 22px solid rgba(236,170,139, 0.7);
        border-image: none;
      }
    }
  }
}

.decoration {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, rgba(236,170,139,0.8) 0%, rgba(255,186,106,0.8) 34%, rgba(28,54,133,0.8) 100%);
}

@media screen and (max-width: 1520px) {
  .section--intro__content {
    margin-left: 100px;
  }
  .btn {
     width: 200px;
     font-size: 20px;
     border: 20px solid pink;
     border-image: url("/images/des/btn_border.png") 30;
  }
}
@media screen and (max-width: 1480px) {
  .footer--inside {
    .partners {
      a {
        margin-left: 35px;
        margin-right: 35px;
      }
    }
  }
}
@media screen and (max-width: 1420px) {
  .footer--inside {
    .support {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .partners {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0;
      //a {
      //  width: 50px;
      //}
      //.partner2 {
      //  width: 20px;
      //}
    }
    .nav {
      margin-top: 0;
    }
  }
  //.footer--inside__left {
  //  width: 40%;
  //}
  //.footer--inside__right {
  //  width: 58%;
  //}
  .link--conditions {
    //margin-right: 20px;
  }
  .section--content__about__inner {
    padding-top: 180px;
    padding-bottom: 50px;
    .video {
      width: 58%;
    }
    .description {
      width: 38%;
    }
  }

}
@media screen and (max-width: 1280px) {
  .section--intro:before {
    background-size: cover;
  }
  .section--intro:after {
    left: 5%;
  }
  .catalog__top {
    h1 {
      margin-top: 200px;
    }
  }
}
.mobile-view {
  display: none;
}
@media screen and (max-width: 1100px) {
  .link--conditions {
    margin-right: 20px;
  }
  .section--content__list__item {
    width: 30%;
  }
  .footer--inside {
    .partners {
      a {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .desktop-view {
    display: none;
  }
  .footer--inside {
    padding-left: 10px;
    padding-right: 10px;
    .support {
      width: 150px;
      font-size: 14px;
    }
    .partners {
      a {
        width: 60px;
      }
      .partner2 {
        width: 30px;
      }
    }
  }
  .footer--inside__left {

  }
  .footer--inside__right {
    width: 100%;
  }
  .footer--inside__merged {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}
@media screen and (max-width: 790px) {
  //.footer--inside {
  //  .support {
  //    margin-left: 0;
  //    font-size: 14px;
  //  }
  //  .partners {
  //    a {
  //      width: 60px;
  //      margin-left: 0;
  //      margin-right: 0;
  //    }
  //    .partner2 {
  //      width: 30px;
  //    }
  //  }
  //}
  //.footer--inside__left {
  //  width: 35%;
  //}
  //.footer--inside__right {
  //  width: 60%;
  //}
  //.link--culture {
  //  margin-top: 20px;
  //  display: inline-block;
  //}
  .section--content__list__item {
    width: 48%;
    margin-bottom: 30px;
  }
  .section--content__about__inner {
    flex-flow: row wrap;
    padding-top: 180px;
    padding-bottom: 50px;
    .video {
      width: 100%;
    }
    .description {
      width: 100%;
      margin-top: 30px;
    }
  }
  .video__youtube {
    height: 300px;
  }
  .section--intro__content {
    margin-left: auto;
    margin-right: auto;
    .support {
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 641px) {
  .footer--inside {
    nav {
      display: none;
    }
    .support {
      width: 100%;
      font-size: 16px;
      text-align: center;
    }
    .disclaimer {
      justify-content: space-around;
    }
  }

}
@media screen and (max-width: 520px) {
  //.footer--inside {
  //  flex-flow: row wrap;
  //  .support {
  //    font-size: 14px;
  //  }
  //  .partners {
  //    a {
  //      width: 60px;
  //    }
  //    .partner2 {
  //      width: 30px;
  //    }
  //  }
  //}
  //.footer--inside__left {
  //  width: 100%;
  //}
  //.footer--inside__right {
  //  width: 100%;
  //}
  .link--culture {
    margin-top: 20px;
    display: inline-block;
  }
  .section--content__list__item {
    width: 100%;
  }
  .btn {
    width: 150px;
    font-size: 18px;
    border: 15px solid pink;
    border-image: url("/images/des/btn_border.png") 30;
  }
  .btn--news {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-height: 1079px) {

  .btn {
    width: 200px;
    font-size: 20px;
    border: 20px solid pink;
    border-image: url("/images/des/btn_border.png") 30;
  }
  .section--intro__content {
    .logo {
      margin-top: 70px;
      text-align: center;
    }
    .title {
      h1 {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 6vh;
        letter-spacing: 6px;
      }
    }
    .quotation {
      font-size: 3vh;
      &:after {
        content: '«';
        display: block;
        position: absolute;
        top: -20px;
        left: -35px;
        font-size: 60px;
      }
      .decor {
        height: 10px;
        margin-left: 5px;
        font-size: 60px;
        line-height: 0;
        span {
          position: absolute;
          top: 0;
        }
      }
    }
    .menu {
      margin-top: 2vh;
      margin-bottom: 1vh;
    }
    .support {
      margin-bottom: 0;
      .text {
        width: auto;
        margin-right: 40px;
      }
      a {
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 790px) {
  .section--intro__content {
    padding-right: 20px;
    padding-left: 20px;
    .logo {
      margin-top: 70px;
      text-align: center;
    }
    .title {
      h1 {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 9vw;
        letter-spacing: 6px;
      }
    }
    .quotation {
      width: 90%;
      font-size: 3vh;
      &:after {
        content: '«';
        display: block;
        position: absolute;
        top: -20px;
        left: -35px;
        font-size: 60px;
      }
      .decor {
        height: 10px;
        margin-left: 5px;
        font-size: 60px;
        line-height: 0;
        span {
          position: absolute;
          top: 0;
        }
      }
      .author {
        margin-right: 0;
        text-align: right;
      }
    }
    .menu {
      margin-top: 2vh;
      margin-bottom: 1vh;
    }
    .support {
      margin-bottom: 0;
      .text {
        width: auto;
        margin-right: 40px;
      }
      a {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

  }
}
.catalog__top {
  background-position: center;
  background-size: cover;
  h1 {
    margin-top: 444px;
    margin-bottom: 45px;
    font-family: "TelingaterDisplayC", Arial;
    color: #fefefe;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}
.filters {
  display: flex;
  margin: 0 0;
  padding: 0 30px;
  background-color: #0c101f;
  font-family: "circle", Arial;
  font-weight: 400;
  font-size: 16px;
  a {
    display: inline-block;
    color: #6381e4;
    margin-right: 25px;
    //text-decoration: none;
    //border-bottom: 1px solid #6381e4;
  }
}
.filters__links {
  display: flex;
  width: 50%;
  padding: 31px 0;
  .mobile-view {
    display: none;
  }
}
.filters__form {
  width: 50%;
  padding: 21px 0;
  .form-control {
    padding: 10px 0;
  }
  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  label {
    margin-right: 10px;
    color: #6381e4;
  }
}
.form-control {
  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 29px;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: -5px;
    width: 20px; height: 20px;
    border: 2px solid #6381e4;
    background: transparent;
    border-radius: 3px;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: "\f00c";
    width: 12px;
    height: 9px;
    font: normal normal normal 14px/1 fontawesome;
    //background: url("/images/des/check.png");
    position: absolute;
    top: 0; left: 5px;
    font-size: 14px;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    //border: 2px solid #6381e4!important;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid #6381e4!important;
  }
}
.filters__links__title {
  color: #5267a4;
  margin-right: 5px;
}
.breadcrumbs {
  margin-top: 40px;
  ul {
    li {
      display: inline-block;
      font-family: "circle", Arial;
      font-weight: 300;
      color: #c0c8dd;
      font-size: 15px;
      a {
        color: #c0c8dd;
        text-decoration: none;
        border-bottom: 1px solid #c0c8dd;
      }
      .divider {
        margin-left: 5px;
        margin-right: 5px;
        font-family: "panton-d";
        font-size: 10px;
      }
    }
  }
}
.catalog {
  background-color: #11182f;
  padding-top: 120px;
}

.catalog__item__image {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 18px;
  img {
    display: block;
    width: 100%;
  }
  .mask {
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease;
    opacity: 0;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 90px;
      margin-top: -45px;
      background-color: #fff;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1px;
      width: 90px;
      margin-left: -45px;
      background-color: #fff;
    }
  }
}
.visible {
  opacity: 1 !important;
}
.catalog__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.catalog__item {
  display: none;
  width: 24%;
  margin-bottom: 40px;
}
.catalog__item__desc {
  font-family: "circle", Arial;
  .name {
    margin-bottom: 10px;
    font-weight: 400;
    a {
      color: #fefefe;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .category {
    margin-bottom: 8px;
    font-weight: 400;
    color: #7f91c5;
    a {
      color: #7f91c5;
      text-decoration: none;
      transition: $all2;
      &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
        transition: $all2;
      }
    }
  }
  .year {
    margin-bottom: 8px;
    color: #7f91c5;
    font-weight: 300;
  }
  .place {
    a {
      color: #ffba6a;
      font-weight: 300;
      text-decoration: none;
      transition: $all2;
      &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
        transition: $all2;
      }
    }
  }
}
.catalog__inner--btn {
  text-align: center;
  margin-bottom: 100px;
}
.btn--load-more {
  width: 230px;
  font-family: "circle", Arial;
  font-size: 18px;
  transition: $all2;
  cursor: pointer;
  &:hover {
    transition: $all2;
    color: #fff;
    border-image: url("/images/des/btn_border_hover.png") 30;
  }
}
.text-block--btn {
  text-align: center;
}
.btn--load-more-text {
  width: 230px;
  font-family: "circle", Arial;
  font-size: 18px;
  transition: $all2;
  color: #5267a4;
  cursor: pointer;
  border-image: url("/images/des/border_btn_blue.png") 30;
  &:hover {
    transition: $all2;
    color: #fff;
    border-image: url("/images/des/btn_border_hover.png") 30;
  }
}
.catalog--small {
  .catalog__item {
    width: 48%;
  }
  .catalog__item__inner {
    display: flex;
  }
  .catalog__item__image {
    width: 160px;
    margin-right: 15px;
  }
  .catalog__item__desc {
    flex: 1;
  }
}
.hide {
  display: none !important;
}
@media screen and (max-width: 800px) {
  .catalog--small {
    .catalog__item {
      width: 100%;
    }
    .catalog__item__inner {
      display: flex;
    }
    .catalog__item__image {
      width: 160px;
      margin-right: 15px;
    }
    .catalog__item__desc {
      flex: 1;
    }
  }
  .catalog__inner--btn {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1480px) {
  .catalog__top {
    h1 {
      margin-top: 300px;
    }
  }
}
@media screen and (max-width: 1240px) {
  .catalog__item {
    width: 31%;
  }
}
@media screen and (max-width: 1000px) {
  .catalog__item {
    width: 48%;
  }
}

@media screen and (max-width: 720px) {
  .filters {
    margin-right: -25px;
    margin-left: -25px;
  }
  .filters__form {
    form {
      flex-direction: column;
      .form-control {
        margin: 10px 0;
      }
    }
  }
  .filters__links {
    .mobile-view {
      display: block;
    }
    .desktop-view {
      display: none;
    }
  }
}
@media screen and (max-width: 1000px) {
  .filters {
    flex-wrap: wrap;
    background-color: transparent;
    padding: 0;
    margin-bottom: -49px;
    font-size: 14px;
  }

  .filters__links,
  .filters__form {
    width: 100%;
    background-color: #0c101f;
    padding: 15px 30px;
    .form-control {
      padding: 0;
      label {
        margin: 0;
        font-size: 14px;
      }
    }
  }
  .filters__links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    a {
      margin-right: 0;
    }
  }
  .catalog {
    padding-top: 65px;
  }
}
@media screen and (max-width: 641px) {
  .catalog__item {
    width: 100%;
    padding: 0 40px;
  }
  .catalog__top h1 {
    margin-top: 100px;
  }
  .catalog {
    padding-top: 95px;
  }
  .breadcrumbs {
    box-sizing: border-box;
    position: fixed;
    top: 108px;
    margin-top: 0;
    margin-right: -25px;
    margin-left: -25px;
    padding: 25px;
    width: 100%;
    background-color: #11182f;
    z-index: 1;
  }

}

.catalog-item-page {
  background-color: #d3dae6;
  .catalog__top {
    padding-bottom: 40px;
    background: linear-gradient( rgb(113,124,158) 0%, rgb(211,218,230) 100%);
  }
  .breadcrumbs {
    ul {
      li {
        color: #5267a4;
        a {
          color: #5267a4;
        }
      }
    }
  }
}
.catalog__item-wrapper {
  //height: 400px;
  background: linear-gradient( rgb(211,218,230) 0%, rgb(234,222,188) 100%);
  background-size: 15%;
  background-repeat: repeat no-repeat ;
  background-position: bottom;
}
.catalog__item-wrapper__inner {
  display: flex;
  margin-bottom: 140px;
  //fix for slick
  * {
    min-height: 0;
    min-width: 0;
    outline: none;
  }
}
.catalog__item-wrapper__pics {
  flex: 1;
}

.catalog__item-wrapper__desc {
  flex: 0 0 655px;
  padding-left: 90px;
}

.slider-for {
  margin-bottom: 44px;
}
.slider-decor {
  width: 100%;
  height: 15px;
  background-image: url("/images/des/slider_border.png");
  background-repeat: no-repeat;
  background-size: contain;
  &.rotate {
    transform: rotate(180deg);
  }
}
.slider-nav {
  position: relative;
  height: 111px;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 18px;
  margin-bottom: 18px;

  .thumbnail {
    position: relative;
    img {
      height: 111px;
      margin-right: 20px;
      //width: 100%;
      //position: absolute;
      //max-width: 100%;
      //max-height: 100%;
      cursor: pointer;
    }
  }
  .slick-arrow {
    position: absolute;
    width: 24px;
    height: 38px;
    top: 50%;
    margin-top: -19px;
    background: none;
    border: none;
    font-size: 0;
    cursor: pointer;
    &:before {
      display: block;
      content: '';
      position: absolute;
      top: 23px;
      width: 20px;
      height: 2px;
      background: #8080f1;
      border-radius: 35px;
      transform: rotate(-45deg);
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 10px;
      width: 20px;
      height: 2px;
      background: #8080f1;
      border-radius: 35px;
      transform: rotate(45deg);
    }
  }
  .slick-prev {
    left: 5px;
    transform: rotate(180deg);
  }
  .slick-next {
    right: 5px;
  }
}
.pic-wrapper {
  width: 100%;
  height: 462px;
  position: relative;
  img {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
  }
}
.DZ-call {
  cursor: pointer;
}
.dz-call-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(20,15,14,.5);
  &:after {
    top: 24px;
    left: 16px;
    transform: rotate(90deg);
  }
  &:before {
    top: 24px;
    left: 16px;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 2px;
    background: #fff;
  }
}
.deep-zoom-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: #1f2226;
  transition: all 0.5s ease-in-out;
  z-index: -1;

  opacity: 0;

}
.deep-zoom-popup{
  .close {
    right: 30px;
    top: 30px;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
    span {
      left: -10px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 4px;
      background: transparent;
      transition: $all2;
      border-radius: 10px;

      &:after {
        top: -14px;
        left: 0;
        transform: rotate(45deg) translate(20px, 5px);
      }
      &:before {
        top: 14px;
        left: 0;
        transform: rotate(-45deg) translate(14px, 0px);
      }
      &:after, &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background: #eda02c;
        transition: $all2;
        border-radius: 10px;
      }
    }
  }
}
.deep-zoom-popup-animate{
  transform: scale(1);
  opacity: 1;
  z-index: 99999;
}
.social {
  width: 100%;
  text-align: center;
  margin-top: 85px;
}
.social__title {
  color: #6381e4;
  font-family: "circle", Arial;
  font-size: 18px;
}
.social__btns {
  margin-top: 18px;
  ul li {
    display: inline-block;
  }
  a {
    display: table;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6381e4;
    text-decoration: none;
    .fa {
      display: table-cell;
      vertical-align: middle;
      color: #d3dae6;
      font-size: 20px;
    }
  }
}
.catalog__item-wrapper__desc {
  font-family: "circle", Arial;
  font-size: 18px;
  color: #2a2a2a;
  h2 {
    margin: 0;
    a {
      font-family: "circle", Arial;
      font-size: 16px;
      font-weight: 500;
      color: #2a2a2a;
      text-decoration: none;
      transition: $all2;
      text-transform: uppercase;
      border-bottom: 1px solid #2a2a2a;
      display: inline-block;
      line-height: 0.9;
      &:hover {
        transition: $all2;
        border-bottom: 1px solid #2a2a2a;
      }
    }
  }
  .name {
    margin-top: 30px;
  }
  .name__title {
    font-weight: 100;
    font-size: 17px;
  }
  .name__name {
    font-weight: 300;
    font-size: 30px;
    color: #4259ad;
    text-transform: uppercase;
  }
  .specs {
    margin-top: 30px;
    line-height: 25px;
  }
  .specs__material {
    span {
      display: inline-block;
      line-height: 0.9;
      border-bottom: 1px solid #2a2a2a;
    }
  }
  .category {
    margin-top: 30px;
  }
  .category__title {
    font-weight: 100;
    font-size: 17px;
  }
  .category__name {
    font-weight: 400;
    font-size: 17px;
    a {
      color: #2a2a2a;
      text-decoration: none;
      display: inline-block;
      line-height: 0.9;
      &:hover {
        color: #4466c6;
        border-bottom: 1px solid #4466c6;
      }
    }
  }
  .text {
    margin-top: 30px;
    p {
      font-weight: 300;
      line-height: 25px;
      margin: 0;
    }
  }
  .text__title {
    font-weight: 100;
    font-size: 17px;
  }
  .place {
    margin-top: 30px;
  }
  .place__title {
    font-weight: 100;
    font-size: 17px;
  }
  .place__name {
    a {
      color: #2a2a2a;
      text-decoration: none;
      display: inline-block;
      line-height: 0.9;
      &:hover {
        color: #4466c6;
        border-bottom: 1px solid #4466c6;
      }
    }
  }
  p {
    a {
      color: #4466c6;
      text-decoration: none;
      border-bottom: 1px solid #4466c6;
      display: inline-block;
      line-height: 0.9;
    }
  }
}
.accordion-wrap {
  margin-top: 40px;
  margin-bottom: 40px;
}
button.accordion {
  position: relative;
  color: #5267a4;
  cursor: pointer;
  padding: 8px 0;
  background-color: transparent;
  border: none;
  text-align: left;
  outline: none;
  font-family: "circle", Arial;
  font-size: 17px;
  transition: 0.4s;
  .plus {
    position: absolute;
    left: -23px;
    top: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    &:after {
      top: 4px;
      left: 0px;
      transform: rotate(90deg);
    }
    &:before {
      top: 4px;
      left: 0;
    }
    &:after, &:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      background: #5267a4;
    }
  }
}

button.accordion.active, button.accordion:hover {

}

div.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  font-weight: 300;
  transition: max-height 0.2s ease-out;
  p {
    margin: 0;
    line-height: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .catalog__item-wrapper__inner {
    display: block;
  }
  .catalog__item-wrapper__pics {
    width: 100%;
    flex: 0;
  }

  .catalog__item-wrapper__desc {
    width: 100%;
    padding-left: 0;
    flex: 0;
  }
  .social {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  button.accordion .plus {
    left: -15px;
  }
  .slider-decor {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .catalog__item {
    width: 100%;
    padding: 0 10px;
  }
  .show-list, .show-big {
    display: none !important;
  }
  .header__logo .header__logo__name {
    font-size: 16px;
    line-height: 18px;
  }
}
.catalog-page {
  background-color: #11182f;
}
.catalog__menu {
  margin-top: 85px;
  margin-bottom: 75px;
}
.catalog__menu__inner {
  display: flex;
}
.catalog__menu__sections {
  flex: 1;
  margin-right: 20px;
}
.catalog__menu__filters {
  flex: 0 0 345px;
  background-color: #090e22;
  position: relative;
}
.catalog__menu__sections__inner {
  display: flex;
  margin: -10px;
}
.catalog__menu__sections__item {
  position: relative;
  width: 33.333333%;
  box-sizing: border-box;
  //margin-right: -5px;
  //margin-bottom: 7px;
  border: 15px solid transparent;
  a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: -15px;
    &:hover {
      border: 15px solid pink;
      border-image: url("/images/des/frame.png") 15;
    }
  }
  h2 {
    margin-top: 111px;
    margin-left: 38px;
    width: 150px;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
  }
  .background {
    position: absolute;
    background-size: cover;
  }

}
.catalog__menu__sections__item--oil {
  .catalog__menu__sections__item__inner {
    background-image: linear-gradient( -52deg, rgb(37,54,122) 0%, rgb(107,147,124) 63%, rgb(176,239,125) 100%);
  }
  .background {
    top: -140px;
    left: -245px;
    width: 1159px;
    height: 756px;
    background-image: url("/images/des/background_oil.png");
  }
}
.catalog__menu__sections__item--tempera {
  .catalog__menu__sections__item__inner {
    background-image: url("/images/des/background_tempera.png"), linear-gradient( -52deg, rgb(69,74,138) 0%, rgb(125,109,102) 70%, rgb(181,144,65) 100%);
  }
}
.catalog__menu__sections__item--draw {
  .catalog__menu__sections__item__inner {
    background-image: linear-gradient( -52deg, rgb(114,85,54) 0%, rgb(166,135,79) 63%, rgb(218,184,103) 100%);
  }
  .background {
    position: absolute;
    top: -137px;
    left: -227px;
    width: 978px;
    height: 751px;
    background-image: url("/images/des/background_draw.png");
    background-size: contain;
  }
}
.catalog__menu__sections__item__inner {
  box-sizing: border-box;
  height: 450px;
  margin: -4px;
  position: relative;

}
.filters__form--catalog {

  width: 100%;
  padding: 40px 50px;
  box-sizing: border-box;
  font-family: "circle", Arial;
  form {
    display: block;
  }
  .form-control {
    display: flex;
  }
  label {
    float: left;
    color: #b3aea3;
    font-weight: 300;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b3aea3;
    margin: 1em 0;
    padding: 0;
  }
  .form-control [type="checkbox"]:not(:checked) + label, .form-control [type="checkbox"]:checked + label {
    padding-left: 35px;
  }
  .form-control [type="checkbox"]:not(:checked) + label:before, .form-control [type="checkbox"]:checked + label:before {
    border: 2px solid #b3aea3;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    border: 2px solid #b3aea3;
  }
  .form-control label:hover:before {
    border: 2px solid #b3aea3 !important;
  }
  .submit {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "circle", Arial;
    color: #ebac63;
    cursor: pointer;
  }
}



@media screen and (max-width: 1580px) {
  .catalog__menu__sections__item {
    .background {
      display: none;
    }
  }
  .catalog__menu__sections__item--oil {
    .catalog__menu__sections__item__inner {
      background-image: url("/images/des/background_oil_adaptive.png"), linear-gradient( -52deg, rgb(37,54,122) 0%, rgb(107,147,124) 63%, rgb(176,239,125) 100%);
    }
  }
  .catalog__menu__sections__item--draw {
    .catalog__menu__sections__item__inner {
      background-image: url("/images/des/background_draw_adaptive.png"), linear-gradient( -52deg, rgb(114,85,54) 0%, rgb(166,135,79) 63%, rgb(218,184,103) 100%);
    }
  }
}
@media screen and (max-width: 1200px) and (min-width: 1000px){
  .catalog__menu__sections__item {
    h2 {
      margin-top: 111px;
      margin-left: 38px;
      width: 150px;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .catalog__menu__sections__item__inner {
    //height: 350px;
  }
}
@media screen and (max-width: 1000px) {
  .catalog__menu {
    margin: 50px 0;
  }
  .catalog__menu__inner {
    display: block;
  }
  .catalog__menu__sections {
    width: 100%;
    margin-right: 0;
  }
  .catalog__menu__filters {
    width: 100%;
  }
  .catalog__menu__sections__item__inner {
    height: 350px;

  }
  .filters__form--catalog {
    .form-control {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 820px) {
  .catalog__menu__sections__inner {
    display: block;
  }
  .catalog__menu__sections__item {
    width: 100%;
    h2 {
      width: 100%;
      margin: 20px;
      margin-top: 40px;
      font-size: 20px;
      line-height: 23px;
    }
  }
  .catalog__menu__sections__item__inner {
    height: 100px;
    background-size: cover;
    background-position: center 77%;
  }
  .filters__form--catalog {
    padding: 20px;
  }
  .filters__form form .form-control {
    margin: 20px 0;
  }
}
@media screen and (max-width: 641px) {
  .catalog__menu {
    margin: 0;
    padding-top: 120px;
  }
  .catalog__menu__sections__item {
    h2 {
      width: 90%;
      font-size: 15px;
      line-height: 17px;
    }
  }
}

.text-block {
  h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 22px;
    line-height: 40px;
  }
  p {
    margin: 20px 0;
    font-family: "circle", Arial;
    font-size: 18px;
    line-height: 25px;
    color: #191919;
  }
  a {
    color: #4e4af8;
    text-decoration: none;
    line-height: .9;
    display: inline-block;
    border-bottom: 1px solid #4e4af8;
    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
  figure {
    float: left;
    margin: 0;
    margin-top: 5px;
    margin-left: -100px;
    margin-bottom: 65px;
    margin-right: 40px;
  }
  figcaption {
    color: #5267a4;
    font-family: "circle", Arial;
    font-size: 16px;
  }
}
.text-block__inner {
  position: relative;
  padding-top: 60px;
  padding-right: 220px;
  padding-left: 220px;
  padding-bottom: 120px;
  background-color: #d3dae6;

  background-size: 200px;
  background-repeat:repeat no-repeat;
  background-position: bottom;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-image: linear-gradient( rgb(211,218,230) 0%, rgb(234,222,188) 100%);
    z-index: 1;
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    background-image: linear-gradient( rgb(113,124,158) 0%, rgb(211,218,230) 100%);
    z-index: 1;
  }
  * {
    position: relative;
    z-index: 2;
  }
}
.text-block__more {
  display: none;
}
@media screen and (max-width: 1241px) {
  .text-block__inner {
    padding-right: 50px;
    padding-left: 50px;
  }
  .text-block {
    figure {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 801px) {
  .text-block {
    figure {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 481px) {
  .text-block__inner {
    padding-right: 25px;
    padding-left: 25px;
  }
}